<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming languages</title>
</head>
<body>

<div>
            <h1><a href="/">Programming Languages Publication Blog</a></h1>
        </div>
        <div>Update</div>
        <div>
            {% for posts in post%}
            <div>
                <p>published:{{posts.publish_date}}</p>
                <h1><a href="">{{posts.title}}</a></h1>
                <div>{{posts.text|linebreaksbr}}</div>
            </div>
            {% endfor %}
        </div>
</body>
</html>